<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar medico"
          #txtTermino
          (keyup)="buscar(txtTermino.value)"
        />
      </div>
    </div>
  </div>
</div>

<app-spinner *ngIf="loading" />

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medicos</h4>
        <h6 class="card-subtitle">Medicos registrados en el sistema</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
                <th class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (medico of medicos; track $index) {
              <tr>
                <td>
                  <img
                    [src]="medico.img ?? '' | imagen : 'medicos'"
                    class="img-avatar-list w100 cursor"
                    (click)="openModal(medico)"
                  />
                </td>
                <td>{{ medico.nombre }}</td>
                <td class="text-nowrap text-center">
                  <a
                    (click)="actualizarMedico(medico)"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                    class="cursor"
                  >
                    <i class="fa fa-edit text-inverse m-r-10 fa-2x"></i>
                  </a>
                  <a
                    (click)="eliminar(medico)"
                    data-toggle="tooltip"
                    data-origina
                    l-title="Close"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger fa-2x"></i>
                  </a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
