<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Usuarios</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              @for (usuario of usuarios; track $index) {
              <tr>
                <td>
                  <img
                    [src]="usuario.img ?? '' | imagen : 'usuarios'"
                    class="img-avatar-list w100 cursor"
                  />
                </td>
                <td>{{ usuario.nombre }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Medicos</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            @for (medico of medicos; track $index) {
            <tr>
              <td>
                <img
                  [src]="medico.img ?? '' | imagen : 'usuarios'"
                  class="img-avatar-list w100 cursor"
                />
              </td>
              <td>{{ medico.nombre }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Hospitales</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            @for (hospital of hospitales; track $index) {
            <tr>
              <td>
                <img
                  [src]="hospital.img ?? '' | imagen : 'usuarios'"
                  class="img-avatar-list w100 cursor"
                />
              </td>
              <td>{{ hospital.nombre }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
