<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar usuario"
          #txtTermino
          (keyup)="buscar(txtTermino.value)"
        />
      </div>
    </div>
  </div>
</div>

<app-spinner *ngIf="loading" />

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de usuarios {{ totalUsuarios }}</h4>
        <h6 class="card-subtitle">Usuarios registrados en el sistema</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Email</th>
                <th>Nombre</th>
                <th style="width: 140px">Rol</th>
                <th>Auth</th>
                <th class="text-nowrap">Actiones</th>
              </tr>
            </thead>
            <tbody>
              @for (usuario of usuarios; track $index) {
              <tr>
                <td>
                  <img
                    [src]="usuario.imageUrl"
                    class="img-avatar-list w100 cursor"
                    (click)="openModal(usuario)"
                  />
                </td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>
                  <select
                    class="form-control cursor"
                    #selectRol
                    (change)="cambiarRol(usuario, selectRol.value)"
                  >
                    @for (rol of roles; track $index) {
                    <option
                      [value]="rol"
                      [selected]="rol.value === usuario.role"
                    >
                      {{ rol.text }}
                    </option>
                    }
                  </select>
                </td>
                <td>
                  <span *ngIf="usuario.google" class="label label-danger">
                    Google
                  </span>
                  <span *ngIf="!usuario.google" class="label label-info">
                    Email
                  </span>
                </td>
                <td class="text-nowrap text-center">
                  <a
                    (click)="eliminarUsuario(usuario)"
                    data-toggle="tooltip"
                    data-origina
                    l-title="Close"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger fa-2x"></i>
                  </a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="table-actions">
          <button type="button" (click)="changePage(-5)" class="btn btn-info">
            Anteriores
          </button>
          <button type="button" (click)="changePage(+5)" class="btn btn-info">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
